# docker-compose.yml to use with Docker swarm (*not* docker-compose,
# except for building images)
#
# To deploy changes, type
#
# docker stack deploy -c docker-compose.yml web-sti
#
# Careful: changes will be effected in real time and might cause a
# temporary outage, depending on what exactly the changes are!!
version: "3.3"
services:
  lb-prod:
    image: nginx
    volumes:
      - "./ssl:/etc/ssl"
      - "./lb:/lb"
    command: /lb/nginx-wrangler /lb/nginx.conf.tt PROD
    networks:
      blue:
      green:
    ports:
      - "443:443"

  lb-dev:
    image: nginx
    volumes:
      - "./ssl:/etc/ssl"
      - "./lb:/lb"
    command: /lb/nginx-wrangler /lb/nginx.conf.tt DEV
    networks:
      blue:
      green:
    ports:
      - "444:443"

  # 30x-redirect all traffic from external HTTP port to HTTP/S.
  redirect:
    image: quay.io/coreos/nginx-https-redirect
    ports:
      - "80:80"
# "Blue-green" deployment is in play. See subdirectories ja
networks:
  blue:
    external:
      name: jahia2wpblue_default
  green:
    external:
      name: jahia2wpgreen_default
