global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']

  - job_name: httpd-blue
    scrape_interval: 60s
    metrics_path: /blue/metrics
    static_configs:
      - targets:
          - lb-dev.jahia2wpblue_default:8080
        labels:
          job: httpd
          color: blue

  - job_name: httpd-green
    scrape_interval: 60s
    metrics_path: /green/metrics
    static_configs:
      - targets:
          - lb-dev.jahia2wpblue_default:8080
        labels:
          job: httpd
          color: green

  - job_name: 'nginx-dev'
    static_configs:
      - targets:
        - lb-dev:9113
        labels:
          job: nginx
          role: dev

  - job_name: 'nginx-prod'
    static_configs:
      - targets:
        - lb-prod:9113
        labels:
          job: nginx
          role: preprod

  - job_name: prober-wpcron-dev
    scrape_interval: 60s
    metrics_path: /probe
    params:
      module: [https_get_slow]
      target: ['https://sti-test.epfl.ch:444/wp-cron.php']
    scheme: http
    static_configs:
      - targets:
          - stisrv6.epfl.ch:9115
        labels:
          job: prober-wpcron
          role: dev

  - job_name: prober-wpcron-preprod
    scrape_interval: 60s
    metrics_path: /probe
    params:
      module: [https_get_slow]
      target: ['https://sti-test.epfl.ch/wp-cron.php']
    scheme: http
    static_configs:
      - targets:
          - stisrv6.epfl.ch:9115
        labels:
          job: prober-wpcron
          role: preprod
